@model SIMS.Models.Class

@{
    ViewData["Title"] = "Delete Class";
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning">
    Are you sure you want to delete this class?
</div>

<div>
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.ClassId</dd>

        <dt class="col-sm-2">Subject</dt>
        <dd class="col-sm-10">
            @Model.Subject.Code – @Model.Subject.Title
        </dd>

        <dt class="col-sm-2">Teacher</dt>
        <dd class="col-sm-10">
            @Model.Teacher.FirstName @Model.Teacher.LastName
        </dd>
    </dl>
</div>

<form asp-action="Delete" asp-route-id="@Model.ClassId" method="post">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
